.NotDone {
    color: var(--dynamic_red);    
}

.Done {
    color: var(--dynamic_green);    
}

.Promo {
    margin: auto;
    padding: 1px;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}